<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

        <title>Sign up</title>
    </head>

    <body>
        <div class="container">
            <p style="color:red" th:each="e:${errors}" th:text="${e}"></p>
            <h3 class="form-signin-heading">Register User</h3><br/>
            <form th:action="@{/register}" th:object="${registerForm}" method="post"><!--/*modelに格納したフォームオブジェクト*/-->
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">UserId:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="username" th:field="*{userId}"
                               name="username" placeholder="UserId" th:autofocus="true" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" id="password" th:field="*{password}"
                               name="password" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="screenname" class="col-sm-2 col-form-label">HandleName:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="screenname" th:field="*{screenName}"
                               name="screenname" placeholder="HandleName" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit">Sign up</button>
                    </div>
                </div>
            </form>
            <br/>
        </div> <!-- /container -->

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ' crossorigin="anonymous"/>
        <script src='https://code.jquery.com/jquery-3.1.1.slim.min.js' integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n' crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js' integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb' crossorigin="anonymous"></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js' integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn' crossorigin="anonymous"></script>

        <link href="/css/signin.css" rel="stylesheet"/>
    </body>
</html>

