<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

        <title>Sign in / Sign up</title>
    </head>

    <body>
        <div class="container">
            はにゃ～ん<br />

            は"　に"　や"　a!ー　ん<br />

<!--
                &lt;!&ndash;TODO フォームヘルパーの自作．ラベルいらない&ndash;&gt;
            @form(action = routes.HomeController.register, 'class -> "form-signin") {
                <h2 class="form-signin-heading">Please sign up</h2>
                @html5.tags.html.text(accountForm("user_id"), 'id -> "inputUserId", 'class -> "form-control", 'placeholder -> "UserID", 'required -> true, 'autofocus -> true, '_showConstraints -> false, '_label -> null)
                @html5.tags.html.text(accountForm("password"), 'id -> "inputPassword", 'class -> "form-control", 'placeholder -> "Password", '_showConstraints -> false, '_label -> null)
                    &lt;!&ndash;<div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>&ndash;&gt;
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                @CSRF.formField
            }

            @if(accountForm.hasGlobalErrors) {
                <p class="error">
                @for(error <- accountForm.globalErrors) {
                    <p>@Messages(error.messages, error.arguments.toArray: _*) </p>
                }
                </p>
            }
-->

        </div> <!-- /container -->

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/stylesheets/signin.css" rel="stylesheet" />
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
        <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    </body>
</html>

